# Backend
/backend/vendor/
/backend/var/
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/public/bundles/
/backend/public/uploads/
!/backend/public/uploads/profiles/andy.png
!/backend/public/uploads/profiles/charlie.png
!/backend/public/uploads/profiles/clea.jpg
!/backend/public/uploads/profiles/dan.jpg
!/backend/public/uploads/profiles/james.jpg
!/backend/public/uploads/profiles/reegan.jpg
!/backend/public/uploads/profiles/vari.jpg

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/.env.local

# Docker
/docker/data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
