# Backend
/backend/vendor/
/backend/var/
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/public/bundles/
/backend/public/uploads/
!/backend/public/uploads/profiles/andy.png
!/backend/public/uploads/profiles/charlie.png
!/backend/public/uploads/profiles/clea.jpg
!/backend/public/uploads/profiles/dan.jpg
!/backend/public/uploads/profiles/james.jpg
!/backend/public/uploads/profiles/reegan.jpg
!/backend/public/uploads/profiles/vari.jpg
!/backend/public/uploads/smith-electrical-services.jpg
!/backend/public/uploads/coastal-plumbing.jpg
!/backend/public/uploads/metro-hvac-solutions.jpg
!/backend/public/uploads/sydney-concrete-works.jpg
!/backend/public/uploads/steel-erectors.jpg
!/backend/public/uploads/brisbane-glazing-specialists.jpg
!/backend/public/uploads/perth-painting-pros.jpg
!/backend/public/uploads/adelaide-flooring-masters.jpg
!/backend/public/uploads/gold-coast-fire-systems.jpg
!/backend/public/uploads/canberra-carpentry-services.jpg
!/backend/public/uploads/hobart-masonry.jpg
!/backend/public/uploads/darwin-excavation-painting.jpg
!/backend/public/uploads/newcastle-drywall-solution.jpg
!/backend/public/uploads/sunshine-coast-landscaping.jpg
!/backend/public/uploads/geelong-security-systems.jpg
!/backend/public/uploads/wollongong-waterproofing.jpg
!/backend/public/uploads/cairns-cladding-contractor.jpg
!/backend/public/uploads/townsville-tiling-co.jpg
!/backend/public/uploads/ballarat-building-enclosure.jpg
!/backend/public/uploads/aussie-roofing-co.jpg

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/.env.local

# Docker
/docker/data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
